@*@model IEnumerable<Order>
<!DOCTYPE html>
<html>
<head>
<style>

.button2 
    {background-color: lightblue;
        margin : 20px;
        padding : 10px;
        font-size : large;
    }
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:hover {background-color: #ddd;}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>Cart Data Table</h1>

<table id="customers">
    <tr>
        <th>OrderId</th>
        <th>PieId</th>
        <th>PieName</th>
        <th>CartOwner</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Remove</th>
        
    </tr>
    @{
        decimal sum = 0;
    }
     @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td> @order.PieId</td>
                <td> @order.PieName</td>
                <td> @order.CartId</td>
                <td>
                   <a  asp-controller="order" asp-action = "DecreaseItem"  asp-route-orderid="@order.OrderId"> - </a>
                    @order.Quantity
                   <a  asp-controller="order" asp-action = "IncreaseItem"  asp-route-orderid="@order.OrderId"> + </a>
                </td>
                <td> @order.PiePrice</td>
                <td> @order.Bill</td>
                @{
                    sum  =  sum + order.Bill;
                }
                <td><a  asp-controller="order" asp-action = "RemoveOrder"  asp-route-orderid="@order.OrderId">Remove</a></td>
            </tr>
        }
        
   
  
</table>
 <div class = button2><a asp-controller="order" asp-action="CustomerForm">Proceed</a></div>
 <div>Total : @sum</div>


</body>
</html>*@