

    <div>

         @foreach (var pie in Model)
      {
        <div class="gallery">
          <a target="_blank" href= "#">
            <img src="@pie.ImageThumbnailUrl" alt="Cinque Terre" width="600" height="400">
          </a>
          <div> <a asp-action="Details" asp-route-id="@pie.PieId">@pie.Name</a></div>
          <div> Rs: @pie.Price</div>
           <div class = button2><a asp-controller="pie" asp-action="AddToCart" asp-route-id="@pie.PieId">AddToCart</a></div>
           <div> <p class="button">
                    <a class="btn btn-danger" 
                       asp-controller="pie" asp-action = "DeletePie"  asp-route-pieId="@pie.PieId"> Delete
                       </a>
             </div>
        </div>
       
      }
    </div>
    